*,
*::before,
*::after {
  box-sizing: border-box;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

ul,
ul,
li {
  padding: 0;
}

ul {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
  color: var(--prime-color);
}

img {
  max-width: 100%;
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

section {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --accent-color: #2196F3;
  --prime-color: #212121;
  --secondary-color: #757575;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1) ;
}

.header {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #ECECEC;
}
.header .container {
  display: flex;
}
.header-icon {
  display: block;
  margin-right: 10px;
  width: 16px;
  height: 12px;
  transition: fill 250ms var(--cubic);
}

.header-contacts {
  display: flex;
  align-items: center;
}
.header-contacts-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  padding: 32px 0;
  color: var(--secondary-color);
  transition: color 250ms var(--cubic);
}
.header-contacts-item:not(:last-child) {
  margin-right: 40px;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}
.header-contacts-link:hover .header-icon,
.header-contacts-link:focus .header-icon {
  fill: var(--accent-color);
}

.main_paige_link::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -2px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.portfolio_page_link::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -2px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--cubic);
}

.modal {
  position: fixed;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.modal_btn_close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: inherit;
  border-radius: 50%;
  cursor: pointer;
}

.btn_close_icon {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms var(--cubic);
}
.modal_btn_close:hover .btn_close_icon, .modal_btn_close:focus .btn_close_icon {
  fill: var(--accent-color);
}

.section_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-list {
  display: flex;
  margin-left: 93px;
  margin-right: auto;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

.nav-item {
  position: relative;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--prime-color);
  transition: color 250ms linear;
}
.nav-link:hover, .nav-link:focus {
  color: var(--accent-color);
}

.smartphone {
  width: 10px;
  height: 16px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1;
}
.logo-first-part {
  color: var(--accent-color);
}
.logo-second-part {
  color: var(--prime-color);
}
.logo_footer_second {
  color: #fff;
}

.hero {
  display: block;
  margin: 0 auto;
  max-width: 1600px;
  background-color: #C4C4C4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4)), url(../images/main/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 200px 330px;
}

.hero_title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.hero_button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #FFFFFF;
  background-color: var(--accent-color);
  padding: 10px 24px;
  border: none;
  border-radius: 10px;
  transition: box-shadow 250ms var(--cubic), background-color 250ms var(--cubic);
}
.hero_button:hover, .hero_button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */